<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gehitu pertsona</title>
</head>
<body>
    <h1>Gehitu pertsona</h1>

    <form action="/pertsonak/add/addrecord/" method="post">
        {% csrf_token %}
        Izena:<br>
        <input name="izena">
        <br><br>
        tlf:<br>
        <input type="number" name="tlf">
        <br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>