<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gehitu kotxea</title>
</head>
<body>
    <h1>Gehitu kotxea</h1>

    <form action="/kotxeak/add/addrecord/" method="post">
        {% csrf_token %}
        Izena:<br>
        <input name="izena">
        <br><br>
        Prezioa:<br>
        <input type="number" name="prezioa">
        <br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>